@model ControlAforo.Models.Local

<div>
    <h4>Local</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contraseña)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aforo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aforo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aforoMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aforoMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_empresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
